.pink > div {
    background-color: #fbb8b8;
}

.yellow > div {
    background-color: #fbf7b8;
}

.purple > div {
    background-color: #eeaaff;
}

.green > div {
    background-color: #b8fbc6;
}

.blue > div {
    background-color: #b8c8fb;
}
