.Square {
    height: 100%;
    display: flex;
}

.Square a:link {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #555;
}

.Square link {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Square img {
    width: 120px;
    max-width: 90%;
    height: auto;
    margin: 1rem auto 0;
}

.Square .description {
    display: flex;
    flex: 1;
    font-size: 12pt;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .Square .description {
        font-weight: bold;
        font-size: 16pt;
        margin-bottom: 1rem;
    }

    .Square img {
        margin: 2rem auto 0;
    }
}
