.Square {
    height: 100%;
    display: flex;
}

.Square a:link {
    color: #555;
}

.Square link {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Square img {
    width: 120px;
    max-width: 80%;
    height: auto;
    margin: 2rem auto 0;
}

.Square .description {
    display: flex;
    margin-bottom: 1rem;
    font-size: 16pt;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35%;
}
